*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background: #cebea4;
}
.container{
    padding: 20px;
    width: 350px;
    background: #996403;
    border-radius:7px;
    position: absolute;
    top: 10%;
    left: 50%;
    translate: (-50%);

    .all-tasks{
        
        max-height: 350px;
        margin-top: 20px;

        .clipboard-icon{
            font-size: 85px;
            color: #383838;
            text-align: center;
            margin-top: -7px;
        }
        .no-task-message{
            color: #383838;
            font-size: 15px;
            text-align: center;
            font-weight: 600;
            margin-top: -10px;
        }

        .task{
            height: 50px;
            width: 100%;
            background: #383838;
            border: .6px solid #e6d4b6;
            color: #fff;
            border-radius: 7px;
            padding: 5px;
            display: flex;
            align-items: center;
            margin-top: 8px;

            input{
                appearance: none;
               height: 20px; 
               width: 20px;
               border: 1px solid red;
               border-radius: 100%;
               margin-left: 13px;
               cursor: pointer;

               &:checked{
                background: #57cb4c;
                border-color: #57cb4c;
                
               }
            }
            .userTask{
                margin: 0 8px;
                color: #e6d4b6;
                font-weight: 600;
                font-size: 13px;
                &.checked{
                    text-decoration: line-through;
                }
            }
            .btns{
                height: 50px;
                width: 35px;
                display: flex;
                align-items: center;
                position: absolute;
                right: 30px;

                .dlt-btn{
                    all: unset;
                    height: 33px;
                    width: 33px;
                    background:#c74f09;
                    color: #0d0d0d;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    cursor: pointer;
                    font-weight: 200;
                    border-radius: 7px;
                }
            }
        }
    }

    .add-task-box{
        .add-btn{
            all: unset;
            height: 45px;
            width: 45px;
            background: #09c709;
            color: #0d0d0d;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
        input{
            all: unset;
            height: 45px;
            width: 230px;
            background: #383838;
            padding-left: 20px;
            border-radius: 10px;
            color: #fff;
            transition: all .2s;
        }
    }
    .others{
        border: 1px solid greenyellow;
        margin-top: 24px;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 7px;
        padding: 8px;

        .no-of-tasks{
            font-size: 14px;
            margin-left:12px ;
            color: darkgray;
            position: relative;
            top: 4px;
        }
        .clear-all-btn{
            all:unset;
            height: 30px;
            width: 80px;
            background: #c74f09;
            color: #0d0d0d;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            font-size: 12px;
            position: absolute;
            right: 30px;
            cursor: pointer;
            font-weight: 500;
            margin-top: -15px;
        }
    }
}

